footer {
  width: 100%;
  height: 60px;
  color: black;
  background-color: black;
}
.text {
  color: #fff;
  text-align: center;
  font-family: "Open";
  font-weight: 400;
  font-size: 11px;
  padding-top: 22px;
  line-height: 14.98px;
  letter-spacing: 0.85px;
}
